html, body {
  height: 100%;
  font-family: sans-serif;
}

html {
  display: table;
  margin: auto;
  background-image: url(https://image.freepik.com/free-vector/berries-pattern-background_1431-1.jpg);
}

body {
  display: table-cell;
  vertical-align: top;
}

.header {
  text-align: center;
  background-color: lightblue;
  border-radius: 5px;
}

#todo_input {
  border-radius: 5px;
  padding: 5px;
}

ul {
  background-color: lightblue;
  border-radius: 5px;
}

li {
  display: flex;
}

.completed {
  background: gray;
  text-decoration: line-through;
  border-radius: 5px;
}

.close {
  margin-left: auto;
  padding: 5px;
}