@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Fahkwang:500");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");

html,
body {
  height: 100%;
  font-family: sans-serif;
}

html {
  display: table;
  margin: auto;
  background: url(lib/72a184aa7846cad0d5a82cf55dc3f406.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: table-cell;
  vertical-align: top;
  min-width: 320;
}

.header {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
}

#todo_input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  width: 90%;
  background: none;
  border-color: #355c7d;
}

ul {
  font-family: "Fahkwang", sans-serif;
  border-radius: 5px;
  min-width: 320px;
}

li {
  display: flex;
}

.completed {
  text-decoration: line-through;
  border-radius: 5px;
}

.close {
  margin-left: auto;
  padding: 5px;
}

.close:hover {
  cursor: pointer;
}

.button {
  display: none;
}

.credit {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  color: #355c7d;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  color: #355c7d;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #6c5c7b;
}

.message {
  display: none;
}

#message1 {
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#message2 {
  font-size: 12px;
  position: absolute;
  top: 210px;
  left: 10px;
}

#message3 {
  font-size: 12px;
  position: absolute;
  top: 400px;
  left: 15px;
}

#message4 {
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#message5 {
  font-size: 12px;
  position: absolute;
  top: 200px;
  right: 0px;
}

#message6 {
  font-size: 12px;
  position: absolute;
  top: 450px;
  right: 20px;
}

blockquote {
  font-size: 3rem;
}

cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #aaa;
  font-style: normal;
}

blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

blockquote q span {
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}

q {
  quotes: "“""”""‘""’";
}

q:before {
  display: none;
  content: open-quote;
  margin-right: 0.8rem;
}

q:after {
  content: close-quote;
}

q:before,
q:after {
  color: #ccc;
  font-size: 4rem;
}